{% extends "base.html" %}
{% block content %}
<h2 class="main_heading">Works Log</h2>
{% for job in all_jobs %}
<h3 class="job_number_heading">Action #{{ loop.index }}</h3>
<table>
    <tr>
        <th>Title of activity</th>
        <th>Team leader</th>
        <th>Duration</th>
        <th>List of collaborators</th>
        <th>Is finished</th>
    </tr>
    <tr>
        <td>{{ job.job }}</td>
        <td>{{ job.team_leader }}</td>
        <td>{{ job.work_size }}</td>
        <td>{{ job.collaborators }}</td>
        <td>{{ job.is_finished }}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}