{% extends "base.html" %}
{% block content %}
    <h1>Задачи</h1>
    {% if current_user.is_authenticated %}
        <a href="add_job" class="btn btn-secondary">Добавить задачу</a>
    {% endif %}
    {% for item in all_jobs %}
        <div class="col-md6 border rounded">
            <h2>{{ item.job }}</h2>
            <div>
                id Начальника - {{ item.team_leader.id }}
            </div>
            <div>
                Объем работы - {{ item.work_size }}
            </div>
            <div>
                Участники - {{ item.collaborators }}
            </div>
            <div>
                Завершена - {{ item.is_finished }}
            </div>
            {% if current_user.is_authenticated and (current_user == item.team_leader or current_user.id == 1) %}
                <div>
                    <a href="/edit_job/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/delete_job/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}